.login-page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;

  .page-logo {
    position: absolute;
    top: 70px;
    right: 70px;
    font-size: 24px;
    font-weight: 900;
    font-family: var(---font-inter);
    line-height: 100%;
  }

  > svg {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    background: #fff;
    border-radius: 24px;
    padding: 60px 38px;
    // top: 50%;
    position: relative;
    width: 540px;
    height: auto;

    h2 {
      margin-top: 0;
      font-family: var(--font-inter);
      font-size: 32px;
      font-weight: 700;
      line-height: 100%;
    }

    > div {
      width: 100%;
      > div {
        width: 100%;

        > div {
          &.rt-TextFieldRoot {
            min-height: 48px !important;
          }
        }

        input {
          border-radius: 12px;
          min-height: 48px !important;
        }
      }
    }

    .login-footer {
      font-size: 16px;
      font-family: var(--font-inter);
      font-weight: 400;
      line-height: 150%;
      width: 100%;
      text-align: center;
      color: #444444;

      a {
        font-weight: 600 !important;
        color: #000 !important;
      }
    }
  }
}
