main {
  display: flex;

  .right-container {
    width: 100%;

    .property-form-container {
      padding: 24px;

      .preview-header {
        h2 {
          margin-bottom: 0;
        }
      }

      .card-header {
        font-size: 16px !important;
        font-weight: 500 !important;
        font-family: var(---inter) !important;
        line-height: 100% !important;
      }

      .preview-subtitle {
        color: #444444;
        font-size: 14px;
        font-weight: 400;
        line-height: 100%;
      }

      a {
        width: auto;
        background: #fff;
        max-width: 142px;
        border-radius: 8px;
        border: 1px solid #e9e9e9;
        padding: 10px 16px;
        font-size: 14px;
        color: #444444;
        display: flex;
        gap: 4px;
        align-items: center;
        margin: 2rem 0;
      }

      .stages-container {
        margin: 24px 0;
        background: #fff;
        border-radius: 8px;
        box-shadow: 0px 2px 8px -1px #1b242c14;
        display: flex;
        flex-direction: column;
        width: 100%;

        .title {
          font-size: 16px;
          line-height: 24px;
          font-weight: 500;
          font-family: var(---font-inter);
          padding: 24px;
        }
      }

      .rt-BaseCard {
        background: #fff !important;
        border-radius: 8px !important;
        width: 100%;
        margin: 12px 0 !important;
        display: flex;
        justify-content: flex-start;
        box-shadow: 0 2px 8px -1px #1b242c14;
        flex-wrap: wrap;
        padding: 24px;
        gap: 24px !important;
        &::before,
        &::after {
          inset: unset !important;
        }

        .form-label {
          font-size: 16px !important;
          font-weight: 600 !important;
          line-height: 100% !important;
          font-family: var(---inter) !important;
          line-height: 24px !important;
        }
      }
    }

    .input-groups-container {
      min-width: 100%;
      max-width: 100%;
      flex: 0 0 100%;
      justify-content: space-between;
      gap: 12px;

      .input-groups {
        display: flex;
        // justify-content: space-between;
        flex-wrap: wrap;
        align-items: end;

        .rt-Flex.rt-r-fd-column.rt-r-gap-3:not(:last-child) {
          min-width: 22%;
        }
        button.rt-Button {
          height: 40px;
          width: 40px;
          // margin-top: 12px;
          color: #ffffff;
          background: #444444;
          cursor: pointer;

          span {
            color: #ffffff;
            font-family: var(--font-inter);
            font-size: 20px;
            font-weight: 500;
            line-height: 100%;
          }
        }
      }
    }

    .extras-features {
      .input-groups-container {
        .input-groups {
          margin-left: 2rem;
          .rt-Flex.rt-r-fd-column.rt-r-gap-3:not(:last-child) {
            min-width: 160px;
            max-width: 160px;
          }
        }
      }
    }
  }
}
