.signup-page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;

  .page-logo {
    position: absolute;
    top: 70px;
    right: 70px;
    font-size: 24px;
    font-weight: 900;
    font-family: var(---font-inter);
    line-height: 100%;
  }

  > svg {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .signup-page,
  .otp-validate-form,
  .set-password-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    background: #fff;
    border-radius: 24px;
    padding: 60px 38px;
    top: 50%;
    position: relative;
    width: 540px;
    height: auto;

    h2 {
      margin-top: 0;
      font-family: var(--font-inter);
      font-size: 32px;
      font-weight: 700;
      line-height: 100%;
    }

    > div {
      margin-bottom: 1rem;
      width: 100%;

      > div {
        &.rt-TextFieldRoot {
          min-height: 48px !important;
        }
      }

      input {
        border-radius: 12px;
        min-height: 48px;
      }

      button {
        &.rt-SelectTrigger {
          min-height: 48px;
        }

        &:not(.rt-SelectTrigger) {
          min-height: 48px !important;
          margin-top: 1rem;
        }
      }
    }

    .signup-footer {
      font-size: 16px;
      font-family: var(--font-inter);
      font-weight: 400;
      line-height: 150%;
      width: 100%;
      text-align: center;
      color: #444444;

      a {
        font-weight: 600 !important;
        color: #000 !important;
      }
    }
  }
  .otp-validate-form {
    h2 {
      margin: 0;
    }

    p {
      margin-top: 0.5rem;
    }

    .otp-footer {
      margin-top: 1rem;
      width: 100%;

      > .rt-Text {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .text-red.form-error {
      margin: 0;
      height: 32px;
    }
    input {
      text-indent: unset !important;
    }
    > div {
      margin-bottom: 0 !important;
    }
    .send-again-link {
      min-height: unset !important;
    }
  }

  .rt-Strong {
    font-weight: 600 !important;
    font-family: var(---font-inter) !important;
  }
}
