.btn-primary {
  border-radius: 12px !important;
  min-height: 48px !important;
  background: #1e1e1e !important;
  cursor: pointer !important;
  color: #fff !important;

  &[disabled] {
    background: #0000004d !important;
    pointer-events: none !important;
  }
}

.btn-link {
  background: none !important;
  cursor: pointer !important;
  margin: 0 !important;
  line-height: normal !important;
  padding: 0 !important;

  &.link-blue {
    color: #005bd3 !important;
    text-decoration: underline !important;
  }
}

.btn-secondary {
  cursor: pointer !important;
  padding: 8px 12px;
  border: 1px solid #e3e5e5;
  border-radius: 8px;
  height: 40px;
  background: #fafafa;
}
