.btn-primary {
  border-radius: 12px !important;
  min-height: 48px !important;
  background: #1e1e1e !important;
  cursor: pointer !important;
  color: #fff !important;

  &[disabled] {
    background: #0000004d !important;
    pointer-events: none !important;
  }
}

.btn-link {
  background: none !important;
  cursor: pointer !important;
  margin: 0 !important;
  line-height: normal !important;
  padding: 0 !important;

  &.link-blue {
    color: #005bd3 !important;
    text-decoration: underline !important;
  }
}

.btn-secondary {
  cursor: pointer !important;
  padding: 8px 12px;
  border: 1px solid #e3e5e5;
  border-radius: 8px;
  height: 40px;
  background: #fafafa;

  &:hover {
    opacity: 0.8;
  }

  &.btn-next,
  &.btn-edit {
    background: #000000 !important;
    color: #fff !important;
  }
}

button[role="checkbox"]:before {
  border-color: #a3a3a3 !important;
  box-shadow: none !important;
}

.btn-cancel {
  color: #dc515f !important;
}

.btn-close {
  background-color: #ff000021 !important;
  color: #dc515f !important;
}

.btn-delete-cancel {
  background-color: #7d7d7d !important;
  color: #fff !important;
}

.delete-icon {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;

  span {
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
  }
}

.delete-icon {
  background-color: #ef4444 !important;
  color: #ffffff !important;
  span {
    color: #ffffff !important;
  }
}

.filter-button {
  display: flex;
  gap: 12px;
  width: 160px;
  align-self: end;
  margin-top: 20px;
  span {
    color: #ffffff !important;
  }
}

button[role="checkbox"]:before {
  background-color: #65558f !important;
  border-color: #65558f !important;
}

.rt-BaseCheckboxRoot:where(.rt-variant-classic):where(:disabled)
  :where(.rt-BaseCheckboxIndicator) {
  color: #fff;
}
