.info-container {
  &.basic-info,
  &.description-media,
  &.extras-features {
    .rt-Text {
      font-size: 16px;
      font-weight: 600;
      line-height: 100%;
      font-family: var(--font-inter);
      color: #000000;
    }

    #basic-info-card,
    #location-info-card,
    #property-details-card,
    #description-media-card,
    #extras-features-card {
      background: #fff;
      border-radius: 8px;
      width: 100%;
      margin: 24px 0;
      display: flex;
      justify-content: space-between;
      box-shadow: 0 2px 8px -1px #1b242c14;
      flex-wrap: wrap;
      padding: 24px;
      gap: 24px;

      > div {
        flex: 0 0 calc(33% - 24px);
        max-width: calc(33% - 24px);
      }

      .input-groups-container {
        min-width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
        justify-content: space-between;
        gap: 12px;

        .input-groups {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;

          .rt-Flex.rt-r-fd-column.rt-r-gap-3:not(:last-child) {
            min-width: 22%;
          }
          button.rt-Button {
            height: 40px;
            width: 40px;
            margin-top: 12px;
            color: #ffffff;
            background: #444444;
            span {
              color: #ffffff;
              font-family: var(--font-inter);
              font-size: 20px;
              font-weight: 500;
              line-height: 100%;
            }
          }
        }
      }
    }

    #description-media-card {
      > div {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }
}
