.custom-date-wrapper {
  position: relative;
  display: flex;
  align-items: center;

  .custom-date-input {
    padding: 10px 36px 10px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 100%;
  }

  .calendar-icon {
    position: absolute;
    right: 10px;
    pointer-events: none;
    color: #666;
  }
}

.react-datepicker-wrapper {
  display: flex;
  .react-datepicker__input-container {
    height: 40px;

    .rt-Flex.rt-r-fd-column.rt-r-gap-3 {
      gap: 0;
      width: 100%;
    }
  }

  //   .react-datepicker__year-option {
  //     padding: 10px;
  //     color: #333;
  //     cursor: pointer;
  //     transition: background-color 0.3s ease;
  //     border-radius: 4px;
  //   }

  //   .react-datepicker__year-option:hover {
  //     background-color: #f0f0f0;
  //   }

  //   /* Selected year */
  //   .react-datepicker__year-option--selected {
  //     background-color: #4a90e2;
  //     color: white;
  //   }
}

.react-datepicker__year-wrapper {
  max-width: 210px;

  .react-datepicker__year-text {
    background-color: #011c28;
    color: #f4f4f6;
    border-radius: 4px;

    &:hover {
      background-color: #011c28;
      color: #f4f4f6;
      opacity: 0.8;
    }

    &.react-datepicker__year-text--selected {
      background-color: #d7d7d7;
      color: #011c28;
    }
  }
}
