header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #ffffff;
  height: 80px;
  max-width: 100%;
  padding: 0 20px;
  position: sticky;
  top: 0;
  z-index: 20;

  .search-input {
    margin: 0 16px;
    .rt-TextFieldRoot {
      border-radius: 12px;
      min-height: 40px;
      background: #f9f9f9;

      input {
        padding: 8px;
      }
    }
  }
  .header-profile-notification-container {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    align-items: center;

    svg {
      padding: 8px;
      background: #f9f9f9;
      border-radius: 12px;
    }

    .currency-language-selector {
      display: flex;
      gap: 16px;
      > div {
        min-height: 40px !important;

        button {
          min-height: 40px;
          border-radius: 12px;
          background: #f9f9f9;
          gap: 16px;
        }
      }
    }
    .profile-section {
      display: flex;
      border-left: 1px solid #e9e9e9;
      padding-left: 1rem;
      margin-left: 8px;
      justify-content: start;
      align-items: center;
    }
  }
}
