.text-red.form-error {
  color: red;
  font-size: 16px;
  font-weight: 400;
  padding-left: 24px;
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;

  &::before {
    content: "i";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid red;
    left: 0;
    position: absolute;
    display: inline-flex;
    text-indent: 7px;
    font-size: 12px;
  }
}

button[role="checkbox"]:before {
  border-width: 1px 2.5px 2.5px 1px !important;
  border-style: solid !important;
  border-color: #7d7d7d !important;
}

.rt-TextFieldRoot,
.rt-SelectTrigger {
  border-radius: 8px !important;
  min-height: 40px !important;
}

.form-label {
  font-size: 18px !important;
  font-weight: 500 !important;
  line-height: 100% !important;
  color: #1e1e1e !important;

  .required {
    position: relative;
    &:after {
      content: "*";
      position: absolute;
      left: 4px;
      top: 0;
      color: red;
      font-size: 16px;
      font-weight: 400;
    }
  }
}
