.feature-toast {
  background-color: #fef9ed;
  border: 1px solid #fce9c3;
  border-radius: 8px;
  padding: 16px;
  max-width: 600px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  color: #5b3e00;
}

.toast-content {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.toast-icon {
  color: #c19d00;
  margin-top: 2px;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.toast-title {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 4px;
}

.toast-desc {
  font-size: 13px;
  line-height: 1.4;
}

.toast-viewport {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 80px;
  //   right: 20px;
  z-index: 100;
  padding: 0;

  ol,
  li {
    list-style: none;
  }
}
